<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-grid.min.css}">
    <link rel="stylesheet" th:href="@{/css/root.css}">
    <link rel="stylesheet" th:href="@{/css/basic-layout.css}">
</head>
<body>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light head-bar" th:fragment="navbar">
    <img class="ml-5 navbar-brand" src="../imgs/logo_elca.png" alt="Elca's Logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <h3 class="ml-3 nav-link head-bar-title" th:text="#{common.navbar.title}">Project Information Management</h3>
                <!-- <a class="nav-link" href="#">Project Information Management<span class="sr-only">(current)</span></a> -->
            </li>
        </ul>

        <div id="language-choices" class="mr-5 my-2 my-lg-0">
            <label><input id="language-choices-en" type="radio" name="lang" value="en"><span>EN</span></label>
            <label class="language-divider">|</label>
            <label><input id="language-choices-fr" type="radio" name="lang" value="fr" ><span>FR</span></label>
            <label class="language-divider">|</label>
            <label><input id="language-choices-vn" type="radio" name="lang" value="vn"><span>VN</span></label>
        </div>

        <button class="btn mr-5 my-2 my-sm-0 clickable-btn" type="submit" th:text="#{common.navbar.help}">Help</button>
        <button class="btn mr-5 my-2 my-sm-0 unclickable-btn" type="submit" th:text="#{common.navbar.logout}">Log out</button>
    </div>
</nav>
<!-- NAVBAR -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>